<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello</title>
  </head>
  <body>
    {{> header}}
    <h1>{{screamIt pageGreet}}</h1>
    <p>{{description}}</p>

    {{> footer}}
  </body>
</html>
